 <!--Usign the ngFor directive for loop trough array
    Inside the ngFor I create the variable "let recipes" in which will be stored all the data from recipe item from array recipe
    -->
    <a 
     
    class="list-group-item list-group-item-action" 
    (click)="onSelected()"
    style="display:flex;justify-content: space-between;align-items: center;cursor:pointer">
      <div class="">
        <h4 class="list-group-item-heading">
         {{ recipe.name }}
        </h4>
        <p class="list-grou-item-text">{{recipe.description}}</p>
      </div>
      <span class="">
        <img 
        
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}" class="img-responsive" style="max-height:50px;">
      </span>
    </a>